.DS_Store
~*

node_modules
package-lock.json
resources
!resources/sample.ts
*.txt

# Star to allow names like "dist-2106"
dist*

# A place to store local/private packages
packages

# A place to keep personal notes, etc
ignore
